.contact {
    display: flex;
    flex-direction: column;
    color: $contact-nav;

    .contact-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;

        img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
        }
    }

    .contact-info {
        z-index: 180;

        p {
            font-family: RobotoMono-Bold;
            font-weight: 400;
            line-height: 1.4em;
        }

        span {
            // margin-block-end: 1em;
            font-family: RobotoMono-Bold;
            font-weight: 400;
            line-height: 1.4em;
        }

        a {
            font-family: RobotoMono-Bold;
            font-weight: 400;
            line-height: 1.4em;
        }

        svg {
            margin-inline-end: 1em
        }

        .contact-card {
            display: flex;
            align-items: center;
            max-width: 23%;
            height: 3em;
            border-width: 2px;
            margin-block-end: 1em;
            padding-inline-start: 2em;
            border-color: #a3a3a3;
            border-style: solid;
            border-radius: 50px 7px 50px 7px;
            background-color: $contact-nav-back;
        }
    }

    h1 {
        font-family: Poppins-Medium;
        font-size: 5vw;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        text-shadow: 1px 3px 1px rgb(0 0 0 / 30%);
        margin-block-end: 1em;
        z-index: 180;
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .contact {

        h1 {
            font-size: 7vw;
            margin-block-start: 1em;
        }

        .contact-info {
            
            svg {
                margin-inline-end: .5em
            }

            .contact-card {
                max-width: 80%;
                height: 2.2em;
                padding-inline-start: 1em;
            }
        }
    }
}