.home-page {
    margin-block-start: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        z-index: 200;
        text-align: center;

        h1 {
            font-size: 12em;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 30%);
            background: linear-gradient(to top, $home-nav 0%, $home-nav-hover 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            font-family: Julee;
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            background: linear-gradient(to bottom, $home-nav 0%, $home-nav-hover 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .home-page {
        margin-block-start: 7vh;

        .text {
            h1 {
                font-size: 4em;
            }

            h3 {
                background: linear-gradient(to bottom, $home-nav 0%, $home-nav-hover 20%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

            }
        }
    }
}