.home-page {
    margin-block-start: 0vh;
    display: flex;
    flex-direction: column;
    height: 900px;
    background-color: $home-back;

    .text {
        z-index: 200;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 8em;
            text-shadow: 1px 2px 1px rgb(0 0 0 / 30%);
            background: linear-gradient(to top, $home-back 0%, $home-text 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            font-family: Julee;
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            background: linear-gradient(to bottom, $home-back 0%, $home-text 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block-end: 2em;
        }
    }

    .summary {
        padding: 0;
        border-radius: 50px;
        // width: 1000px;
        // height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .summary-info {
            position: absolute;
            background-color: $home-back;
            z-index: 3;
            // width: 100%;
            // width: 1000px;
            padding: 1em;
        }

        .summary-img {
            z-index: 2;
            width: 100%;
            height: 500px;

            .v-img {
                border-radius: 50px;
                height: 100%;
            }

            img {
                position: absolute;
            }
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .home-page {
        height: 700px;

        .text {

            h1 {
                font-size: 4.5em;
            }

            h3 {
                font-size: 2em;
                margin-block-end: 0em;
            }
        }

        .summary {

            .summary-info {}

            .summary-img {
                .v-img {}

                img {}
            }
        }
    }
}