.home-page {
    margin-block-start: 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $home-nav-hover;

    .home-page-bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;

        img {
            height: 100vh;
            width: 100vw;
            object-fit: cover;
        }
    }

    .text {
        z-index: 200;
        text-align: center;

        h1 {
            font-family: Poppins-Medium;
            font-size: 10vw;
            text-transform: uppercase;
            letter-spacing: 2.2px;
            text-shadow: 1px 3px 1px rgb(0 0 0 / 30%);
        }
        
        h3 {
            text-shadow: 1px 3px 1px rgb(0 0 0 / 30%);
            font-family: Poppins-Medium;
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
        }
    }
}

@media screen and (max-width: 1140px) {
}

@media screen and (max-width: 990px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
    .home-page {
        margin-block-start: 7vh;

        h1{
            margin-block-end: 0.5em;
        }
    }    
}