.skills-bg {
    background-color: $skills-nav-hover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 180;
        height: 900px;

        h1 {
            font-size: 4em;
            text-align: center;
            background: linear-gradient(to top, $skills-nav 100%, $skills-nav-hover 0%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block-start: 0.3em;
            margin-block-end: 0.3em;
        }

        h3 {
            font-family: Julee;
            font-weight: 600;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            background: linear-gradient(to bottom, $skills-nav 0%, $skills-nav-hover 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h5 {
            font-family: Poppins-Medium;
            font-size: 1.6em;
            font-weight: 600;
            line-height: 1.2em;
        }

        p {
            font-family: RobotoMono-Bold;
            font-weight: 400;
            line-height: 1.4em;
        }

        .skills-wrapper {
            padding: 0;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .skills-table {
                position: absolute;
                display: flex;
                flex-direction: column;
                color: $skills-nav;
                margin-inline-start: 2em;
                z-index: 3;
                width: 80%;


                :nth-child(even) {
                    color: $skills-nav;
                }

                .skill-preview-container {
                    display: flex;
                    justify-content: center;
                    margin-block-end: 1em;
                }

                .open-modal {
                    height: 175px;
                    width: 73.3%;
                    border-radius: 50px 0px 50px 0px;
                    background-color: $skills-nav-hover;
                }

                .close-modal {
                    height: 110px;
                    width: 23%;
                    border-radius: 7px;
                }

                .skill-card {
                    cursor: pointer;
                    border-style: solid;
                    border-width: 2px;
                    margin-block-end: 1em;
                    transition: .6s ease-in-out;
                    padding: 30px 30px;
                    overflow: hidden;

                    .card-header {
                        display: flex;
                        align-items: center;
                        margin-block-end: 1em;

                        .card-icons {
                            display: flex;
                            align-items: center;
                            margin-inline-start: 1em;
                        }
                    }
                }
            }

            .skills-img {
                z-index: 2;
                width: 100%;
                height: 700px;

                .v-img {
                    border-radius: 50px;
                    height: 100%;
                }

                img {
                    position: absolute;
                }
            }
        }


    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {
    .skills {

        .skills-table {
            margin-inline-start: 0em;

            .open-modal {
                height: 220px;
            }

            .close-modal {
                width: 37%;
            }

        }
    }
}

@media screen and (max-width: 767px) {
    .skills {

        .skills-table {

            .open-modal {
                height: 260px;
            }

            .close-modal {
                width: 47%;
            }

        }
    }
}

@media screen and (max-width: 575px) {
    .skills-bg {

        .skills {
            height: 100%;

            h1 {
                // font-size: 4em;
            }

            h5 {
                // font-size: 1.6em;
            }

            p {
                font-size: 1.1em;
                // font-family: RobotoMono-Bold;
                // font-weight: 400;
                line-height: 1.3em;
            }

            .skills-wrapper {
                margin-block-end: 5em;
                height: 1000px;

                z-index: 4;
                background-color: transparent;

                .skills-table {
                    margin-inline-start: 0em;
                    width: 100%;

                    .skill-preview-container {
                        margin-block-end: 0em;
                    }

                    .open-modal {
                        height: 285px;
                        width: 100%;
                    }

                    .close-modal {
                        width: 100%;
                    }

                    .skill-card {
                        padding: 20px 30px;
    
                        .card-header {
    
                            .card-icons {
                            }
                        }
                    }
    
                }

                .skills-img {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

