.work-bg {
    background-color: $work-nav-hover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .work {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 180;
        margin-block-end: 1em;
        height: 900px;

        h1 {
            font-size: 4em;
            text-align: center;
            background: linear-gradient(to top, $work-nav 0%, $work-nav-hover 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block-start: 0.3em;
        }

        .works-wrapper {
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .works {
                background-color: $work-nav-hover;
                z-index: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
            }

            .works-img {
                z-index: 2;
                width: 90%;
                height: 700px;

                .v-img {
                    border-radius: 50px;
                    height: 100%;
                }

                img {
                    position: absolute;
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .work-bg {

        .work {
            height: 100%;

            h1 {
                // font-size: 4vw;
            }

            .works-wrapper {
                margin-block-start: 1em;
                margin-block-end: 1em;
                height: 1100px;

                .works {
                    position: absolute;
                    z-index: 4;
                    background-color: transparent;

                    .to-work-list {
                    }
                }

                .works-img {
                    z-index: 3;
                    width: 100%;
                    height: 100%;

                    .v-img {}

                    img {}
                }
            }
        }
    }
}