.work-bg {
    background-color: $work-nav-hover;
    display: flex;
    flex-direction: column;
    align-items: center;


    .work {
        padding-block-start: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 180;
        height: 100vh;



        h1 {
            font-size: 5vw;
            text-align: center;
            background: linear-gradient(to top, $work-nav 0%, $work-nav-hover 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-block-end: 0.3em;
        }

        .works-wrapper {
            padding: 0;
            border-radius: 50px;
            width: 1200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .works {
                position: absolute;
                z-index: 3;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .works-img {
                z-index: 2;
                width: 100%;

                .v-img {
                    border-radius: 50px;
                    height: 100%;
                }

                img {
                    position: absolute;
                }
            }
        }
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .work {
        margin-block-start: 1vh;
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 4em;
        }
    }

    .work-list {
        display: flex;
        flex-direction: column;
        z-index: 180;
    }

    .preview-container {
        margin-block-end: 1em;
    }
}