.work-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $details-nav;
    z-index: 180;


    h1 {
        font-size: 5vw;
        background: linear-gradient(to top, $details-nav 50%, $details-nav-hover 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        display: flex;
        // font-family: RobotoMono-Bold, Helvetica, Arial, sans-serif;
    }

    .work-details-header {
        margin-block-end: 2em;
    }

    .work-details-tech {
        display: flex;
        justify-content: space-evenly;

        .card {
            align-items: center;
            flex-direction: column;
            width: 40%;
            justify-content: space-evenly;
            border-width: 2px;
            border-color: #a3a3a3;
            // border-style: solid;
            border-radius: 50px 7px 50px 7px;
            background-color: $details-nav-back;
            margin-block-end: 1em;
        }

        .specs {
            display: flex;
            padding: 10px 1px;

            .tech-specs {
                margin-inline-start: 1em;
            }
        }

        .specs-url {
            display: flex;

            .url {
                margin-inline-start: 1em;
            }

            .url:hover {
                text-shadow: 1px 3px 11px rgb(0 0 0 / 30%);
                color: $details-nav-hover;
            }
        }
    }

    .work-details-media {

        video {
            width: 48.2%;
            margin-block-end: 1em;
        }

        .details-carousel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .v-window {
                height: 500px;
                margin-block-end: 2em;

                .v-window__container {
                    height: 45rem;
                }

                .v-btn {
                    height: calc(var(--v-btn-height) + 12px);
                    width: calc(var(--v-btn-height) + 12px);
                }
            }

            .v-carousel__controls {

                .v-btn {
                    background-color: #fdf6ad46;
                    color: #ffffff;
                }
            }

            .v-btn {
                background-color: #fdf6ad;

                .mdi-chevron-right {
                    color: black;
                }
            }

            img {
                border-radius: 7px;
            }
        }

    }

}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .work-details {

        h1 {
            font-size: 4em;
            margin-block-end: .5em;
        }

        p {
            font-size: 1.9em;
        }

        a {
            font-size: 1.5em;
        }

        .work-details-header {
            margin-block-end: 0em;
        }

        .work-details-tech {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-block-end: 2em;

            .card {
                margin-block-end: 4em;
                width: 100%;
            }

            .specs {
                padding: 0px 15px;
                font-size: .5em;
            }

            .specs-url {
                padding: 0px 15px;
                font-size: .5em;
                margin-block-end: 1em;
            }
        }

        .work-details-media {
            display: block;
            flex-direction: column;

            .details-carousel {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                height: 100%;

                video {
                    width: 100%;
                }

                .v-window {
                    width: 100%;
                    margin-block-end: 2em;

                    .v-window__container {
                        height: 13rem;
                    }

                    .v-btn {
                        height: calc(var(--v-btn-height) - 15px);
                        width: calc(var(--v-btn-height) - 15px);
                    }
                }
            }
        }
    }
}