.work {
    margin-block-start: 1vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 180;

    h1 {
        color: $work-nav-hover;
        font-family: Poppins-Medium;
        font-size: 5vw;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        text-shadow: 1px 3px 1px rgb(0 0 0 / 30%);
        margin-block-end: 0.5em;
    }
}

@media screen and (max-width: 1140px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    .work {
        margin-block-start: 1vh;
        display: flex;
        flex-direction: column;
        text-align: center;

        h1 {
            font-size: 7vw;
            margin-block-end: 0em;
        }
    }

    .work-list {
        display: flex;
        flex-direction: column;
        z-index: 180;
    }

    .preview-container {
        margin-block-end: 1em;
    }
}