.app {

    .v-application__wrap {

        align-items: center;

        .main-app {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }
}

.container {
    width: 1300px;

    @include from-mini-layout {}

    @include from-mobile-layout {}
}

@media screen and (max-width: 1140px) {
    .container {
        width: 920px;
    }
}

@media screen and (max-width: 990px) {
    .container {
        width: 727px;
    }

}

@media screen and (max-width: 767px) {
    .container {
        width: 545px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 345px;
    }
}