    .work-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        z-index: 180;
        background-color: $work-nav-hover;
        padding-block-end: 0.5em;
    }