// ROBOTO MONO
@font-face {
    font-family: RobotoMono-Bold;
    src: url("../assets/fonts/roboto_mono/static/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: RobotoMono-Medium;
    src: url("../assets/fonts/roboto_mono/static/RobotoMono-Medium.ttf");
}

// POPPINS
@font-face {
    font-family: Poppins-Medium;
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

// JULEE
@font-face {
    font-family: Julee;
    src: url("../assets/fonts/Julee/Julee-Regular.ttf");
}